*,
*::before,
*::after {
    box-sizing: border-box;
}

/* will need to update at some point */
:root{
    --ff-primary: ;
    /* --ff-secondary: ; for the tagtext */

    --clr-light: white ;
    --clr-dark: black;
    --clr-accent: ;

    --fw-reg: 300;
    --fw-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.25;
    --fs-body: 0.9rem;
}

strong {font-weight: var(--fw-bold)}

@media (min-width: 800px){
    :root {
    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2.0;
    --fs-body: 1.2rem;
    }
}

/* this section needs changed */

body{
    background-color: black;
    background-image:
    radial-gradient(circle at top, purple, black 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.25;
}

img{
    display:block;
    max-width: 100%;
}

h1, h2, h3{
    line-height: 1.2;
    margin: 0;
}

a{
    text-decoration: none;
    margin: 0;
    line-height: 1.3;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

header{
}

.listStyle{
    list-style: none;
}


.portfolioContainer{
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;

}

.name{
    width: 50vw; 
    height:15vh;
}

.about{
    border: 1px red solid;
    width: 50vw; 
    height: auto;
}

.projects{
    border: 1px red solid;
    width: 50vw; 
    height: auto;

}

.contact{
    border: 1px red solid;
    width: 50vw; 
    height: auto;
}

.icons{
    font-size: xx-small;
}